 p {
    /*width: 1000px;*/
    height: 50px;
    border: 1px solid red;
    background-color: azure;
    text-align: center;
}

img {
    border: 10px groove orangered;
}
.logoone {
    border: 10px groove blueviolet;
}